@model SV20T1020109.DomainModels.Category
@{

}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Category/Save" method="post">
            @Html.AntiForgeryToken()
            <div class="form-group">
                <input type="hidden" name="CategoryID" value="@Model.CategoryID" />
                <label>Tên loại hàng</label>
                <input type="text" class="form-control" value="@Model.CategoryName" name="CategoryName" autofocus>
                @Html.ValidationMessageFor(m => m.CategoryName, "", new { @style = "color:#f00" })
            </div>

            <div class="form-group">
                <label>Mô tả sản phẩm</label>
                <textarea class="form-control" id="Description" name="Description" rows="5">@Model.Description</textarea>
                @Html.ValidationMessageFor(m => m.Description, "", new { @style = "color:#f00" })
            </div>

            <div class="form-group text-right">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-floppy-o"></i>
                    Lưu dữ liệu
                </button>
                <a href="~/Category" class="btn btn-default">
                    Quay lại
                </a>
            </div>
        </form>
    </div>
</div>

@section scripts {
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>
        tinymce.init({
            selector: '#editor'
        });
    </script>
}
